@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Criador @ViewData["Criador"]</p>
<address>
    <SocialMedia>  
        <strong>More Information: </strong> <a id="SocialMedia" href="https://www.linkedin.com/in/tiago-xavier/" target="_blank">Tiago Xavier</a>
    </SocialMedia>

</address>

